<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    Welcome to the profile page <%=locals.user%>
    <form action="/auth/logout" method="post">
        <a href="/auth/dashboard">Dashboard</a>
        <button type="submit">Logout</button>
    </form>
</body>
</html>